<style>
    
    .card2 {
        background-color: #160c0ca8; /* Adjust as needed */
        padding: 15px;
        height: 450px;
    }

    .container-cards {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 25px;
    }

    .card-property {
        flex: 0 0 calc(33.33% - 20px);
        background-color: #569cbd9f; /* Adjust as needed */
        box-shadow: 5px 5px 5px rgb(210, 218, 220);
        padding: 20px;
        text-align: center;
    }

    .card-property img {
        width: 110px;
        margin-top: -4%;
    }

    .last-{
        background-color: rgba(30, 25, 21, 0.199);
    }

    .h4-, .h3-- {
        margin-bottom: 10px;
    }

    .p-- {
        margin-bottom: 20px;
    }
</style>

<div class="card2">
    <div class="container-cards">
        <div class="card-property">
            <h4 class="h4-" style="font-family: Segoe UI Black;">STEP-01</h4><br><br>
            <img src="https://rainbowit.net/html/nuron/assets/images/icons/shape-7.png" width="130">
            <h3 class="h3--">Set Up Your Wallet</h3>
            <p class="p--">Powerful features and inclusions,<br> which make Nuron standout, easily<br> customizable and scalable</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id="svg1">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
        </div>

        <div class="card-property">
            <h4 class="h4-" style="font-family: Segoe UI Black;">STEP-02</h4><br>
            <img src="https://rainbowit.net/html/nuron/assets/images/icons/shape-1.png" width="130">
            <h3 class="h3--">Create Your Collection</h3>
            <p class="p--">A great collection of beautiful <br> website templates for your needs. <br> Choose the best
                suitable example</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id="svg1">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
        </div>

        <div class="card-property">
            <h4 class="h4-" style="font-family: Segoe UI Black;">STEP-03</h4><br>
            <img src="https://rainbowit.net/html/nuron/assets/images/icons/shape-5.png" width="100" height="110">
            <h3 class="h3--">Set Up Your Wallet</h3>
            <p class="p--">Powerful features and inclusions,<br> which make Nuron standout, easily<br> customizable and
                scalable</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor"
                class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id="svg1">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
            </svg>
        </div>
    </div>
</div>

<div>
<div class="last-">
    <div class="container"></div>
    <div class="row">
        <div class="col-sm-3"><br><br>
            <img src="https://rainbowit.net/html/nuron/assets/images/logo/logo-white.png" class="i5" width="130">
            <b>
                <p class="p-last">Created with the collaboration<br> of over 60 of the world's best<br> Nuron Artists.
                </p>
            </b>
            <hr class="hr">
            <p class="p-last1">Get The Latest Nuron Updates</p>

            <input type="text" placeholder="Your Username" class="input-text">
            <button class="subscribe"><b>Subscribe</b></button>
            <p class="p-last2">Email is safe. We don't spam.</p>
        </div>

        <div class="col-sm-3"><br><br>
            <h3 class="h3-last"><b>Nuron</b></h3>

            <h4 class="h4-last">Protocol Explorer</h4>
            <h4 class="h4-last">System Token</h4>
            <h4 class="h4-last">Optimize Time</h4>
            <h4 class="h4-last">Visual Checking</h4>
            <h4 class="h4-last">Fadeup System</h4>
            <h4 class="h4-last">Activity Log</h4>
            <h4 class="h4-last">System Auto Since</h4>
        </div>

        <div class="col-sm-3"><br><br>
            <h3 class="h3-last"><b>Information</b></h3>

            <h4 class="h4-last">Market Explorer</h4>
            <h4 class="h4-last">Reddy Token</h4>
            <h4 class="h4-last">Main Option</h4>
            <h4 class="h4-last">Product Checking</h4>
            <h4 class="h4-last">Blog Grid</h4>
            <h4 class="h4-last">About Us</h4>
            <h4 class="h4-last">Fix Bug</h4>
        </div>

        <div class="col-sm-3"><br><br>
            <h3 class="h3-last"><b>Recent Sold Out</b></h3><br>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="https://rainbowit.net/html/nuron/assets/images/portfolio/portfolio-01.jpg"  width="130">
                    </div>
                    <div class="col-sm-6">
                        <p class="p-last3"><b>#21 The Wonder</b></p>
                        <p class="p-last4">Highest Bid</p>
                        <p class="p-last5"><b>0.244wETH</b></p>
                    </div>
                    <hr class="hr1">

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="https://rainbowit.net/html/nuron/assets/images/portfolio/portfolio-03.jpg" width="130">
                    </div>
                    <div class="col-sm-6">
                        <p class="p-last3"><b>Dimond Dog</b></p>
                        <p class="p-last4">Highest Bid</p>
                        <p class="p-last5"><b>0.222wETH</b></p>
                    </div>
                    <hr class="hr1">

                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="https://rainbowit.net/html/nuron/assets/images/portfolio/portfolio-02.jpg" width="130">
                    </div>
                    <div class="col-sm-6">
                        <p class="p-last3"><b>Morgan11</b></p>
                        <p class="p-last4">Highest Bid</p>
                        <p class="p-last5"><b>0.244wETH</b></p>
                    </div>
                    <hr class="hr1">

                </div>
            </div>

        </div>
    </div>
</div>
</div>